<!-- for larger formats... -->

	<table class="table table-responsive table-condensed">
		<thead>
			<th class="col-md-2">Paid On</th>
			<th class="col-md-2">Account</th>
			<th class="col-md-4">For</th>
			<th class="col-md-2 text-center">Amount</th>
		</thead>

		<tbody>

			<% @transactions.each do |t| %>
				<tr>
					<td><%= t.occured_on %></td>
					<td><%= t.account.account_name %></td>
					<td><%= t.entry_type.titlecase %></td>
					<td>
						<span class="text-right col-md-8"><%= number_to_currency(t.net_amount) %></span>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
