// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

// @media print {
//   .table td.red, .table th.red {
//     color: green !important;
//   }
//   .table td.green, .table th.green {
//     color: green !important;
//   }
// }

$bg-color: #EEEEEE;
$visitor-bg-color: #9BBEFF;

// apply styles to HTML elements
// to make views framework-neutral
html, body {
  height: 100%;
  background-color: $bg-color;
}

main {
  padding-bottom: 0px;
  width: 100%;
}

// Wrapper for page content to push down footer
#wrap {
  // Top padding to accomodate navbar
  padding-top: 60px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  // Negative indent footer by it's height
  margin: 0 auto -40px;
}

.container-fluid.visitor {
  background-image: image-url('banner_HD_low.jpg');
  padding-top: 50px;
  padding-bottom: 70px;
  padding-left: 50px;
  margin-bottom: 20px;
  margin-top: -10px;
  height: 300px;
}

section {
  @extend .row;
  margin-top: 20px;
}

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
}
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
}

.navbar .nav > li > a.btn.btn-success {
  @extend .btn;
  @extend .btn-success;
  margin-top: 8px;
}

//.form-group-alert {
//   white-space: nowrap;
// }

h4.form-title {
  margin-top: 0;
}

.form-control-static-alert {
  @extend .form-control-static;
  padding: 6px;
}

button.form-control-alert {
  @extend button.close;
  padding: 5px;
  height: 32px;
}

.alert.navbar-alert {
  margin-bottom: 0;
  padding: 0;
//  padding: 6px;
}

.summary-row {
  outline: thin solid;
}

.h0 {
  font-size: 400%;
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .col-md-offset-3;
  @extend .text-center;
}

.form {
  @extend .col-md-6;
}

.form-centered {
  @extend .col-md-6;
  @extend .text-center;
}

.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
}

.tight {
  @extend .col-md-6;
  padding-left: 0px;
  padding-right: 5px;
}

.bottom-space-5 {
  margin-bottom: 5px;
}

.bottom-space-10 {
  margin-bottom: 10px;
}

.top-space-5 {
  margin-top: 5px;
}

.top-space-8 {
  margin-top: 8px;
}

.top-space-10 {
  margin-top: 10px;
}

.left-space-5 {
  margin-left: 5px;
}

.banner {
  color: #56F9F3
}

.jumbotron {
  background-color: darken($bg-color, 10);
  color: white;
}

.vertical-align {
  @media (min-width: 768px){
    display: flex;
    align-items: center;
  }
}

.collapse-link {
  cursor: pointer;
}

.control-icon {
  font-weight: bold;
  font-size: $font-size-large;
  color: #337ab7;
  padding-left: 3px;
  padding-right: 7px;
  cursor: pointer;
}

.control-icon-light {
  @extend .control-icon;
  font-weight: normal;
}

.control-icon-small {
  @extend .control-icon;
  font-weight: normal;
  font-size: $font-size-small;
  padding-top: 5px;
}

.control-icon-reverse {
  @extend .control-icon;
  color: white;
}

.red {
  color: red;
  @media print {
  color: red !important;
  }
}

.green {
  color: green;
  @media print {
    color: green !important;
  }
}

h1.statement {
  color: #808080
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 40px;
}

// Styles for form views
// using Bootstrap
// generated by the rails_layout gem
.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}

.authform form {
  @extend .well;
  @extend .well-lg;
  padding-bottom: 40px;
}

.authform .right {
  float: right !important;
}

.authform .button {
  @extend .btn;
  @extend .btn-primary;
}

.authform fieldset {
  @extend .well;
}

#error_explanation {
  @extend .alert;
  @extend .alert-danger;
}

#error_explanation h2 {
  font-size: 16px;
}

.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}

span.check-box-label {
  font-weight: normal;
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
  border: none;
}

.marginless {
  margin: 0;
}

table.table .table-inner {
  margin-bottom: 0px;
  background-color: $bg-color;
}

table.table td.td-inner {
  padding: 3px;
  border-top-style: none;
}

table.table td.table-inner {
  width: 100%;
  padding: 0;
  border-top-style: none;
}

.table-condensed > tbody > tr > td.control {
  padding-left: 2px;
}


/* make sidebar nav vertical */
@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
      padding: 0;
      max-height: none;
  }
    .sidebar-nav .navbar ul {
      float: none;
  }
    .sidebar-nav .navbar ul:not {
      display: block;
  }
    .sidebar-nav .navbar li {
      float: none;
      display: block;
  }
    .sidebar-nav .navbar li a {
      padding-top: 12px;
      padding-bottom: 12px;
  }
}


/* Show plus or minus for collapsed or expanded items */
.accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content:"\e082";    /* adjust as needed, taken from bootstrap.css */
}
.accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content:"\e081";   /* adjust as needed, taken from bootstrap.css */
}

/* Show people or minus for collapsed or expanded items */
.accordion-toggle-people:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content:"\e082";    /* adjust as needed, taken from bootstrap.css */
}
.accordion-toggle-people.collapsed:after {
    /* symbol for "collapsed" panels */
    content:"\e008";   /* adjust as needed, taken from bootstrap.css */
}
