<!-- for larger formats... -->

	<table class="table">
		<thead>
			<th class="col-md-2"></th>			
			<th class="col-md-5"></th>
			<th class="col-md-2"></th>	
			<th class="col-md-4"></th>		
		</thead>
		<tbody>
			<% @event_users.each do |event_user| %>
				<tr>
					
					<td>
						<span><%= event_user.user.display_name %></span>
					</td>

					<% if event_user.zero_balance? %>
						<td>--</td><td>--</td>
					<% elsif event_user.owes? %>
						<td class="red">Owes: </td><td class="red"><%= number_to_currency( event_user.owes ) %></td>
					<% else %>
						<td class="green">Is Owed: </td><td class="green"><%= number_to_currency( event_user.is_owed ) %></td>
					<% end %>

				</tr>
			<% end %>
		</tbody>
	</table>