<div class="<%= @visitor_class %>">
  <body>
    <header>                
    </header>
    <main role="main">
      <div class="container-fluid">
        <div class='row'>
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
  <div id="push"></div>
</div>
